<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Neki sajt</title>
  </head>
  <body>
      {{> header}}
      <h4>Lista projekata</h4>
      <ul>
        <li>1. projekat</li>
        <li>2. projekat</li>
        <li>3. projekat</li>
      </ul>

      {{> footer}}
  </body>

</html>
